//variables for tiles colors

$color1: #003060;
$color2: #1034a6;
$color3: #055c9d;
$color4: #1877f2;
$color5: #0e86d4;

//tiles-colors-selectors

.tile1 {
  background-color: $color1;
}
.tile2 {
  background-color: $color2;
}
.tile3 {
  background-color: $color3;
}
.tile4 {
  background-color: $color4;
}
.tile5 {
  background-color: $color5;
}
